apiVersion: v1
kind: Secret
metadata:
  name: infra-k8s-apps-repo
  namespace: argocd
  labels:
    argocd.argoproj.io/secret-type: repository
stringData:
  type: git
  url: ssh://git@github.com/sgfdevs/infra-k8s-apps.git
  sshPrivateKey: |-
    {{ bootstrap_argocd_git_deploy_private_key | indent(4) }}
