apiVersion: v1
kind: Secret
metadata: {name: external-secrets-aws-creds, namespace: external-secrets}
stringData:
  access_key_id: "{{ bootstrap_argocd_eso_id }}"
  secret_access_key: "{{ bootstrap_argocd_eso_key }}"
---
apiVersion: v1
kind: Secret
metadata: {name: external-secrets-aws-creds, namespace: openbao}
stringData:
  access_key_id: "{{ bootstrap_argocd_eso_id }}"
  secret_access_key: "{{ bootstrap_argocd_eso_key }}"
