apiVersion: v1
kind: Secret
metadata:
  name: external-secrets-aws-creds
  namespace: openbao
type: Opaque
stringData:
  access_key_id: "{{ bootstrap_argocd_eso_access_key_id }}"
  secret_access_key: "{{ bootstrap_argocd_eso_secret_access_key }}"
