apiVersion: v1
kind: Secret
metadata:
  name: infra-k8s-apps-repo
  namespace: argocd
  labels: {argocd.argoproj.io/secret-type: repository}
stringData:
  type: git
  url: "{{ bootstrap_argocd_repo_url }}"
  sshPrivateKey: |-
    {{ bootstrap_argocd_git_key | indent(4) }}
---
apiVersion: v1
kind: ConfigMap
metadata: {name: argocd-ssh-known-hosts-cm, namespace: argocd}
data:
  ssh_known_hosts: |
    {{ bootstrap_argocd_known_hosts.stdout | indent(4) }}
---
apiVersion: argoproj.io/v1alpha1
kind: AppProject
metadata: {name: bootstrap, namespace: argocd}
spec:
  sourceRepos: ["{{ bootstrap_argocd_repo_url }}"]
  destinations: [{namespace: argocd, server: https://kubernetes.default.svc}]
  clusterResourceWhitelist:
    - {group: argoproj.io, kind: Application}
    - {group: argoproj.io, kind: ApplicationSet}
    - {group: argoproj.io, kind: AppProject}
