apiVersion: v1
kind: Secret
metadata:
  name: seaweedfs-s3-observability
  namespace: observability
  labels:
    app.kubernetes.io/part-of: seaweedfs
type: Opaque
stringData:
  AWS_ACCESS_KEY_ID: "{{ bootstrap_argocd_seaweedfs_observability_access_key }}"
  AWS_SECRET_ACCESS_KEY: "{{ bootstrap_argocd_seaweedfs_observability_secret_key }}"
