apiVersion: v1
kind: Secret
metadata: {name: seaweedfs-s3-admin, namespace: seaweedfs}
stringData: {access_key: "{{ bootstrap_argocd_s3_admin_id }}", secret_key: "{{ bootstrap_argocd_s3_admin_key }}"}
---
apiVersion: v1
kind: Secret
metadata: {name: seaweedfs-s3-observability, namespace: seaweedfs}
stringData: {access_key: "{{ bootstrap_argocd_s3_obs_id }}", secret_key: "{{ bootstrap_argocd_s3_obs_key }}"}
---
apiVersion: v1
kind: Secret
metadata: {name: seaweedfs-s3-observability, namespace: observability}
stringData: {AWS_ACCESS_KEY_ID: "{{ bootstrap_argocd_s3_obs_id }}", AWS_SECRET_ACCESS_KEY: "{{ bootstrap_argocd_s3_obs_key }}"}
