apiVersion: v1
kind: Secret
metadata:
  name: flux-git-auth
  namespace: flux-system
type: kubernetes.io/ssh-auth
stringData:
  ssh-privatekey: |-
    {{ flux_git_private_key | indent(4) }}
  identity: |-
    {{ flux_git_private_key | indent(4) }}
  known_hosts: |-
    {{ github_known_hosts.stdout | indent(4) }}
